:root {
    /*--color-primary: hsl(206, 100%, 24%);
    --color-background: hsl(206, 100%,40%);
    --color-secondary: hsl(196, 50%, 10%);
    --color-tertiary: hsl(256, 80%, 20%);
    --color-accent: hsl(136, 80%, 20%);*/
    --blue-dark: #005c7e;
    --blue: #227c9d;
    --blue-soft: #2f97b9;

    --red: #fe6d73;
    --red-strong: #ff0008;

    --yellow: #ffcb77;
    --yellow-strong: #ff9d00;

    --main-background: #000;
    --main-color: #1a1a1a;
    --border-color: #3a3a3a;
    --btn-color: #2a2a2a;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
}

/* Nav */
nav {
    z-index: 999;
    width: 100%;
    min-height: fit-content;
    top: 0;
    display: flex;
    flex-direction: column;
    position: sticky;
    background-color: var(--main-background);
    color: white;
    border-bottom: var(--border-color) 1px solid;
}

nav ul {
    z-index: 100;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    padding: 12px;
    margin-left: 20px;
    transition: all 0.2s;
    border: 2px solid;
    border-top: none;
    border-left: none;
    border-right: none;
}

nav ul li:hover, #clear-btn:hover, #send-btn:hover {
    border-radius: 24px;
}

nav ul li:nth-child(1){
    margin-right: auto;
    margin-left: 0;
    border-color: var(--yellow);
}
nav ul li:nth-child(1):hover{
    box-shadow: 0 0 20px var(--yellow), inset 0 2px 8px white;
    border-color: var(--yellow);
}

nav ul li:nth-child(2){
    border-color: var(--red);
}
nav ul li:nth-child(2):hover{
    box-shadow: 0 0 20px var(--red), inset 0 2px 8px white;
}

nav ul li:nth-child(3){
    border-color: var(--blue);
}
nav ul li:nth-child(3):hover{
    box-shadow: 0 0 20px var(--blue), inset 0 2px 8px white;
}

/* main */
.main {
    padding: 1rem;
    display: grid;
    /*grid-template-columns: 47vw 47vw;*/
    grid-template-columns: 48vw 48vw;
    gap: 1rem;
    justify-content: center;
    flex:1;
    background-color: var(--main-background);
}
@media screen and (max-width: 760px) {
    .main {
        grid-template-columns: none;
        grid-template-rows: 52vh 52vh;
    }
}

/* drag */
.drag {
    padding: 0.5rem;
    background-color: var(--main-color);
    border-radius: 8px;
    text-align: center;
    align-content: center;
    display: grid;
    grid-template-rows: 0.25fr 8fr;
    gap: 1rem;
    overflow: scroll;
    border:1px var(--border-color) solid;
}

h2 {
    font-size: 1.2rem;
    text-align: center;
    justify-content: center;
    margin: 0;
    min-height: fit-content;
}

/* drop */
.drop .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.drop .input, .drop-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.zone {
    flex: 1;
    margin: 1rem;
    border: 2px var(--red) solid;
    border-style: dashed;
    
}

.zone:hover {
    animation-name: myAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes myAnimation {
  from {border-color: var(--red);}
  to {border-color:  var(--yellow);}
}

input {
    height: 100%;
    width: 100%;
    align-content: center;
    background-color: var(--blue-dark);
    color: white;
}

input:hover {
    background-color: var(--blue);
}

.action-btn {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#send-btn, #clear-btn {
    color: white;
    border: 1px var(--border-color) solid;
    height: 3rem;
    max-width: 8rem;
    width: 8rem;
    min-width: 3rem;
    transition: all 0.2s;
    margin: 0 1rem 1rem 1rem;
    background-color: var(--btn-color);
}

#send-btn:hover {
    border-color: var(--yellow-strong);
    box-shadow: 0 4px 20px var(--yellow-strong);
}

#clear-btn:hover {
    border-color: var(--red-strong);
    box-shadow: 0 4px 20px var(--red-strong);
}

/*drop-right*/
#preview {
    margin: 1rem;
    align-items: center;
    width: 90%;
    min-height: 90%;
    background-image: url("images/cv-placeholder.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20dvw;
    border: var(--blue) 1px solid;
}

#preview img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    overflow: hidden;
}

/*info*/
.info {
    background-color: var(--btn-color);
    border: 1px var(--border-color) solid;
    overflow: scroll;
    max-height: 74vh;
    border-radius: 24px;
}

/* Footer */
footer {
    background-color: var(--main-background);
    min-height: fit-content;
    width: 100dvw;
    text-align: center;
    position: relative;
    bottom: 0;
    size: 1rem;
}